# Breath of the Wild

In [14]:
# call in dependencies
import requests
import json
import pandas as pd
import os
from pyrule_compendium import compendium
from pprint import pprint
import csv

In [15]:
comp = compendium()

#pprint(comp.get_all()["equipment"][0]) # get all entries
# print(comp.get_entry("silver lynel")) # get a specific entry with it's name
# pprint(comp.get_entry(380)) #get a specific entry with it's ID
# pprint(comp.get_category("equipment")) # get all entries in a category
# comp.download_entry_image("silver lynel", "dream_pet.png") # download entry image

In [16]:
# create empty list to store item
equip_list = []
equip = {}
materials = []
monsters = []
foods = []
drops = []

In [17]:
# pull category data and assign to a variable, to be used for appending to lists.
equipment_json = comp.get_all()["equipment"]
materials_json = comp.get_all()["materials"]
monsters_json = comp.get_all()["monsters"]
creatures_json = comp.get_all()["creatures"]["food"]

# Get equipment list

In [18]:
# create loop to get equipment data store to list.
for i in equipment_json:
    # create a dictionary for equipment to create DataFrame
    equipment_dict = {
        "name": i['name'],
        "attack": i['attack'],
        "defense": i['defense']
    }
    # add dictionary to list.
    equip_list.append(equipment_dict)

In [19]:
# Create DataFrame and save to .csv file
equipment_df = pd.DataFrame(equip_list).sort_values(by="name")
equipment_df.to_csv("BotW_equip_stats.csv", index=False)

# Get materials list

In [20]:
# get materials and add to list
for i in materials_json:
    # create a dictionary for materials to create DataFrame)
    material_dict = {
        "name": i['name'],
        "hearts_recovered": i['hearts_recovered'],
        "cooking_effect": i['cooking_effect'],
    }
     # add dictionary to list.
    materials.append(material_dict)

In [21]:
# Create DataFrame from dictionary
materials_df = pd.DataFrame(materials)

In [22]:
# add a 'none' to the cooking_effect that show a blank
materials_df["cooking_effect"] = ['none' if x == '' else x for x in materials_df['cooking_effect']]

In [23]:
# Preivew DataFrame
#materials_df

In [24]:
# save to .csv file
materials_df.to_csv("BotW_material_stats.csv", index=False)

# Get foods list

In [25]:
# get foods and add to list
for i in creatures_json:
    # create a dictionary for foods to create DataFrame)
    food_dict = {
        "name": i['name'],
        "hearts_recovered": i['hearts_recovered'],
        "cooking_effect": i['cooking_effect'],
    }
    # add dictionary to list.
    foods.append(food_dict)

In [26]:
# Create DataFrame
# add a 'none' to the foods that show a blank
foods_df = pd.DataFrame(foods).sort_values(by="name")
foods_df["cooking_effect"] = ['none' if x == '' else x for x in foods_df['cooking_effect']]

In [27]:
# save to .csv file
foods_df.to_csv("BotW_food_stats.csv", index=False)

# Get monster list ID

In [28]:
# get foods and add to list
for i in monsters_json:
    # create a dictionary for monsters to create DataFrame)
    monster_dict = {
        "name": i['name'],
        "id": i['id'],
    }
    # add dictionary to list.
    monsters.append(monster_dict)

In [74]:
# Create DataFrame and save to .csv file
monsters_df = monsters_df = pd.DataFrame(monsters).sort_values(by="name")
monsters_df.to_csv("BotW_monster_list.csv", index=False)
monsters_df = monsters_df.set_index("id")
monsters_df

                  name
id
105     black bokoblin
149        black hinox
115     black lizalfos
110       black moblin
101          blizzrobe
..                 ...
161  waterblight ganon
123  white-maned lynel
162   windblight ganon
135   yiga blademaster
134   yiga footsoldier

[81 rows x 1 columns]

# Union foods and materials

In [30]:
# union materials df and foods df into a new DataFrame
consumables_df = pd.concat([materials_df, foods_df]).reset_index(drop=True)

In [159]:
consumables_df = consumables_df.sort_values(by="hearts_recovered", ascending=False)

In [160]:
# Save consumables to a csv file
consumables_df.to_csv("BotW_consumables.csv", index=False)

# Get drops ID

In [73]:
# Iterate through json and check if the value that I represents is an empty list
# If it is set the drops variable to None otherwise append the drop information and create a DF
drops = []
for i in monsters_json:
    if i['drops'] == []:
        i['drops'] = None
    else:
        drops_dict = {
        "drops": i['drops'],
        "id": i['id'],
        }
    drops.append(drops_dict)
drops_df = pd.DataFrame(drops)
# set the index of the dataframe to the id (will be handy when you split your entries next)
drops_df.set_index(drops_df['id'],inplace=True)
# split each item in  the df['drops'] and send it to a new row. Setting the index above allows us to 
# keep the index intact when we split them. 
drops_df = drops_df.explode('drops')
# Filter the dataframe to keep only the column that we need
drops_df[['drops']]

                drops
id
161              None
109       moblin horn
109       moblin fang
109       moblin guts
147     hinox toenail
..                ...
129      ancient gear
129     ancient shaft
92   octorok tentacle
92       octo balloon
92    octorok eyeball

[259 rows x 1 columns]

In [155]:
drops_df.to_csv("BotW_drop.csv")

In [109]:
# create dataframe to hold drop counts
drops_count_df = pd.DataFrame(drops_df.index.value_counts())
# Renme id column to 'drop_counts'
drops_count_df = drops_count_df.rename(columns={"id":"drop_count"})

In [142]:
# rename index to 'id'
drops_count_df.index.name = "id"
drops_count_df

     drop_count
id
148          12
147          10
107           9
112           9
120           9
..          ...
150           1
146           1
137           1
136           1
84            1

[81 rows x 1 columns]

In [152]:
# Merge drop_counts_df and mosnters_df to obtain total count of drops
# for a monster
calamity_df = pd.merge(monsters_df, drops_count_df, how="outer", on="id")
calamity_df = calamity_df.sort_values(by="drop_count", ascending=False)

In [154]:
# Save new DataFrame to csv file
calamity_df
calamity_df.to_csv("BotW_drop_counts.csv")

## Let's get into the game details
## what is the purpose of this game?